{% extends "base.html" %}

{% block title %}{{label}} @ RDFLib LOD Server{% endblock %}

 {% block body %}
<h1>
  {{label}}
  <span class='url'>{{resource}}</span>
</h1>


<h2>Properties:</h2>
<table>
<thead>
  <tr><td>property</td><td>value</td></tr>
</thead>
{% for p,v in outprops %}
<tr class="{{ loop.cycle('odd', 'even') }}">
  <td>{{p|term_to_string}}</td>
  <td>{{v|term_to_string}}</td>
</tr>
{% endfor %}
</table>
{% if inprops %}
<h2>Incoming Properties:</h2>
<table>
<thead>
  <tr><td>node</td><td>property</td></tr>
</thead>
{% for v,p in inprops %}
<tr class="{{ loop.cycle('odd', 'even') }}">
  <td>{{p|term_to_string}}</td>
  <td>{{v|term_to_string}}</td>
</tr>
{% endfor %}
</table>
{% endif %}
<hr/>
<div id="footer">
Download as: 
{% if type %}
<a href="/data/{{type}}/{{label}}.nt">ntriples</a> |
<a href="/data/{{type}}/{{label}}.n3">n3</a> |
<a href="/data/{{type}}/{{label}}.rdf">rdf/xml</a>
{% else %}         

<a href="/data/{{label}}.nt">ntriples</a> |
<a href="/data/{{label}}.n3">n3</a> |
<a href="/data/{{label}}.rdf">rdf/xml</a>
</div>
{% endif %}
{% endblock %}
